.app__about {
  position: relative;
  width: 100%;
  padding: 4rem 1rem; // respiration globale
  display: flex;
  flex-direction: column;
  align-items: center;

  &__headline {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: clamp(1.5rem, 2vw, 2.25rem);
    font-weight: 600;
  }

  &__profil-cards {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    max-width: 1000px;
    margin-top: 5rem;

    > * {
      flex: 1 1 250px;
      max-width: 300px;
      min-width: 220px;
    }

    @media screen and (max-width: 900px) {
      gap: 1.25rem;
      > * {
        flex: 1 1 45%; // 2 par ligne
        max-width: 100%;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      > * {
        flex: 1 1 100%;
        max-width: 90%;
      }
    }
  }
}
